<section>
  <div class="headline-container">
    <div class="container-img">
      <img
        *ngIf="!arrowBackIsHovered"
        (mouseover)="arrowBackIsHovered = true"
        (mouseout)="arrowBackIsHovered = false"
        src="assets/icons/arrow_back.png"
        alt="icon of black arrow"
      />
      <img
        *ngIf="arrowBackIsHovered"
        (mouseover)="arrowBackIsHovered = true"
        (mouseout)="arrowBackIsHovered = false"
        routerLink="../display-login"
        src="assets/icons/arrow_back_purple.png"
        alt="icon of purple arrow"
      />
    </div>
    <div class="container-text">
      <span>Passwort</span>
      <span>zurücksetzen</span>
    </div>
    <div style="width: 0.01px"></div>
  </div>
  <span class="description">Bitte geben Sie Ihre E-Mail-Adresse ein. </span>
  <form [formGroup]="forgotPwEnterEmailForm">
    <div class="container-input-field">
      <img src="assets/icons/mail.png" alt="icon of mail" />
      <input
        formControlName="email"
        class="input-layout"
        type="email"
        placeholder="beispielname@email.com"
      />
      <span
        *ngIf="
          forgotPwEnterEmailForm.get('email')?.value.length > 0 &&
          !this.checkUserIsExisting()
        "
        class="error"
      >
        Diese E-Mail-Adresse ist nicht registriert.
      </span>
    </div>

    <span class="we-send-email"
      >Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
      können.</span
    >

    <div class="send-me-email-container">
      <button
        (click)="forgotPwEnterEmailForm.valid && saveResetAndSendEmail()"
        [class.btn-login-valid]="
          forgotPwEnterEmailForm.valid && this.checkUserIsExisting()
        "
        class="button-layout"
      >
        E-Mail senden
      </button>
    </div>
  </form>
</section>

<div *ngIf="emailWasSent" class="overlay-container"></div>
<span *ngIf="emailWasSent" class="overlay-text">E-Mail wurde gesendet</span>
