@import "src/styles.scss";

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container-img {
    display: flex;
    justify-content: flex-start;
    img {
      padding: 8px;
      cursor: pointer;
      &:hover {
        padding: 8px;
        border-radius: 50px;
        background-color: $light-violet;
        color: $purple;
      }
    }
  }

  .container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: $purple3;
      font-size: 46px;
      font-weight: 700;
    }
  }
}

.description {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-input-field {
  position: relative;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
  }

  input {
    background-color: $light-violet;
    color: $grey;
    &:hover {
      border-color: $grey;
    }
    &:focus {
      border-color: $purple3;
    }
  }

  .error {
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    color: $rosaError;
  }
}

.we-send-email {
  font-size: 20px;
  margin-top: 16px;
}

.send-me-email-container {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: $grey;
    border: 1px solid transparent;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    cursor: not-allowed;
  }
}

.btn-login-valid {
  background-color: $purple3 !important;
  border-color: $purple3 !important;
  &:hover {
    cursor: pointer !important;
    background-color: $purple2 !important;
    border-color: $purple2 !important;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(47, 47, 47);
  opacity: 0.5;
  z-index: 20;
}

.overlay-text {
  padding: 50px;
  color: white;
  background-color: $purple3;
  border-radius: 30px 30px 0px 30px;
  text-align: center;
  font-size: 36px;
  position: absolute;
  right: 15%;
  bottom: 5%;
  z-index: 25;
  animation: rightToLeft 0.7s ease forwards;
}

@keyframes rightToLeft {
  80% {
    right: 15%;
  }
  100% {
    right: 30%;
  }
}

@media only screen and (max-width: 950px) {
  .headline-container {
    span {
      font-size: 40px;
    }
  }

  .description {
    font-size: 18px;
  }
}
