<section>
  <div class="headline-container">
    <img
      *ngIf="!arrowBackIsHovered"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      src="assets/icons/arrow_back.png"
      alt="icon of black arrow"
    />
    <img
      *ngIf="arrowBackIsHovered"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      routerLink=""
      src="assets/icons/arrow_back_purple.png"
      alt="icon of purple arrow"
    />
    <span>Passwort zurücksetzen</span>
  </div>
  <span class="description">Bitte geben Sie Ihre E-Mail-Adresse ein. </span>
  <form action="">
    <div class="container-input-field">
      <img src="assets/icons/mail.png" alt="icon of mail" />
      <input
        class="input-layout"
        type="email"
        placeholder="beispielname@email.com"
      />
      <span class="error">Diese E-Mail-Adresse ist leider ungültig.</span>
    </div>
  </form>

  <span class="we-send-email"
    >Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
    können.</span
  >

  <div class="send-me-email-container">
    <a routerLink="/reset-pw-enter-pw" class="button-layout">E-Mail senden</a>
  </div>
</section>
