@import 'src/styles.scss';

.side-left-container {
    height: 85vh;
    width: 366px;
    background-color: white;
    border-radius: 30px;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box; //
}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-headline {
        display: flex;
        align-items: center;
        gap: 15px;

        .logo-code-learning {
            width: 60px;
            height: 60px;
        }
    }

    .logo-start-direct-message {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.overview-panel {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .overview-channels {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .dropdown-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .arrow-headline {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            height: 30px;
            width: 30px;
            cursor: pointer;
        }
    }

    .dots-headline {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
            height: 24px;
            width: 24px;
        }
    }

    .headline-secondary {
        font-size: 20px;
    }

    .add-icon {
        height: 24px;
        width: 24px;
        cursor: pointer;
    }

    .overview-direct-messages {
        @extend .overview-channels;
    }
}

.list-container-channels {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 100ms;
}

.item-line {
    display: flex;
    margin-left: 15px;
}

.logo-item-channel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    gap: 10px;
    padding: 4px 20px;
}

.add-channel-wrap {
    display: flex;
    justify-content: center;
}

.add-purple {
    opacity: 0;
}

$add-img-width: 20px;

.add-channel {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;    

    .add-img-wrap {
        display: flex;
        width: $add-img-width;
        height: 100%;
        position: relative;        

        .add-standard,
        .add-purple {
            position: absolute;
            left: 0px;
            top: 2px;
            height: $add-img-width;
            width: $add-img-width;
            transition: 100ms;
        }
    }

    &:hover {
        .add-standard {
            opacity: 0;
        }

        .add-purple {
            opacity: 1;
            scale: 1.1;
        }

        .text-add-channel {
            color: $purple;
        }

    }

    .text-add-channel {
        font-size: 18px;
        font-weight: 400;
    }



}

.logo-item-contact {
    @extend .logo-item-channel;
    cursor: pointer;
    transition: 100ms;

    &:hover {
        background-color: $light-violet;
    }
}

.oneName-channel {
    color: $purple;
}

.list-container-contacts {
    overflow-y: scroll;
    @extend .list-container-channels;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}