<div [class.hidden]="!containerIsVisible" class="side-right-container">

  <div class="inner-padding-of-thread">
    <div class="thread-header-container">
      <div class="thread-header-title">Thread</div>
      <div class="thread-name"># Entwicklerteam</div>
    </div>
    <div (click)="toggleVisibility()" class="close-icon-container">
      <img class="close-icon-normal" src="assets/icons/close.png" />
      <img class="close-icon-purple" src="assets/icons/close_purple.png">
    </div>
  </div>

  <!-- eventuell thread-user-message component erstellen  -->
  <div class="thread-user-container">
    <div class="thread-user-img-container">
      <img src="assets/imgs/userMale1.png" />
    </div>

    <div class="info-and-message-box">
      <div class="thread-info-container">
        <div class="thread-user-name">Frederik</div>
        <div class="thread-message-time">14:00 uhr</div>
      </div>

      <div class="thread-message-container">Habt das schon gelöst?</div>
    </div>
    
    <!-- antworten müssen dynamisch sein (weswegen es evtl. nicht hier rein passt?) -->
    <!-- evtl. answers components erstellen die aus dem thread die antworten mitzählt? -->

  </div>

  <app-input-field-thread></app-input-field-thread>
</div>
