<div *ngIf="this.ws.threadContainerIsVisible" class="side-right-container">

  <div class="inner-padding-of-thread">
    <div class="thread-header-container">
      <div class="thread-header-title">Thread</div>
      <!-- {{ts.clickedChannel.name || '?'}} -->
      <div class="thread-name"># {{cs.clickedChannel.value.name}}</div>
    </div>
    <div (click)="this.ws.threadContainerIsVisible = !this.ws.threadContainerIsVisible" class="close-icon-container">
      <img class="close-icon-normal" src="assets/icons/close.png" />
      <img class="close-icon-purple" src="assets/icons/close_purple.png">
      <img (click)="this.respService.onlyChannel()" class="arrow-back-mobile" src="assets/icons/arrowBack.png" alt="">
    </div>
  </div>


  <div *ngIf="ts.threadVisible" class="messages-channel-container" id="scrollThreadMessages">
    <div *ngFor="let thread of threadsOfMessage; let i = index">
      <!-- Datumstrenner für jeden Tag -->
      <div *ngIf="this.cs.checkIfNewDay(threadsOfMessage, i)" class="new-day-date">
        <div class="dateSeparatorAreaLeft">
          <div class="dateSeparator"></div>
        </div>
        <div class="date-text">{{ this.cs.isToday(thread.createdTime['day']) ? 'Heute' : thread.createdTime['fullDay']
          }}</div>
        <div class="dateSeparatorAreaRight">
          <div class="dateSeparator"></div>
        </div>
      </div>

      <app-message-of-user [threadMessageData]="thread" [messageType]="'threadMessage'"></app-message-of-user>

      <!-- Trenner unter Topic-Message -->
      <div *ngIf="cs.threadsOfMessage.value.length > 1 && i == 0" class="amount-answers-wrap">
        <div class="amount-text">
          {{ cs.threadsOfMessage.value.length - 1 }} {{ cs.threadsOfMessage.value.length - 1 === 1 ? 'Antwort' :
          'Antworten' }}
        </div>
        <div class="amountSeparatorAreaRight">
          <div class="dateSeparator"></div>
        </div>
      </div>

    </div>
  </div>


  <app-input-field-thread></app-input-field-thread>
</div>