<section>
  <span class="headline">Anmeldung</span>
  <span class="description">
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </span>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="container-input-field">
      <img src="assets/icons/mail.png" alt="icon of mail" />
      <input
        required
        formControlName="email"
        class="input-layout"
        type="email"
        placeholder="Beispiel@email.com"
      />
      <span
        class="error"
        *ngIf="loginForm.get('email')?.hasError('required') && formIsSubmitted"
        >Bitte Email eingeben</span
      >
      <span class="error" *ngIf="loginForm.get('email')?.hasError('email')"
        >Diese E-Mail-Adresse ist leider ungültig.</span
      >
      <span class="d-none" *ngIf="loginForm.get('email')?.hasError('email')"
        >Diese E-Mail-Adresse ist leider nicht registriert.</span
      >
    </div>
    <div class="container-input-field">
      <img src="assets/icons/lock.png" alt="icon of lock" />
      <input
        required
        formControlName="password"
        class="input-layout"
        type="password"
        placeholder="********"
      />
      <span
        class="error"
        *ngIf="
          loginForm.get('password')?.hasError('required') && formIsSubmitted
        "
      >
        Bitte Password eingeben</span
      >
      <span
        class="error"
        *ngIf="loginForm.get('password')?.hasError('minlength')"
        >Mindestens 8 Zeichen eingeben</span
      >
    </div>
    <div class="forgot-password-container">
      <a routerLink="reset-pw-enter-email">Passwort vergessen?</a>
    </div>

    <div class="or-container">
      <img src="assets/imgs/line.png" alt="image of samall line" />
      <span>ODER</span>
    </div>

    <button class="button-layout btn-google">
      <img src="assets/icons/google.png" alt="image of google icon" />
      <span>Anmelden mit Google</span>
    </button>

    <div class="register-container">
      <button type="submit" class="button-layout btn-login">Anmelden</button>
      <button class="button-layout btn-login-guest" routerLink="/channel">
        Gäste-Login
      </button>
    </div>
  </form>
</section>
