@import "src/styles.scss";

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.headline {
  color: $purple3;
  font-size: 46px;
}

.description {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-input-field {
  position: relative;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
  }

  input {
    width: 100%;
    font-size: 18px;
    padding: 18px 18px 18px 48px;
    border: 1px solid transparent;
    border-radius: 100px;
    outline: none;
    background-color: $light-violet;
    color: $grey;
    cursor: pointer;
    &:hover {
      border-color: $grey;
    }
    &:focus {
      border-color: $purple3;
    }
  }

  .error {
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    color: $rosaError;
  }
}

.forgot-password {
  display: inline-block;
  text-decoration: none;
  color: $purple2;
  margin-top: 16px;
  &:hover {
    border-radius: 30px;
    background: $light-violet;
    font-weight: bold;
    color: $purple3;
  }
}
