<section>
  <span class="headline">Anmeldung</span>
  <span class="description">
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </span>
  <form action="">
    <div class="container-input-field">
      <img src="assets/icons/mail.png" alt="icon of mail" />
      <input type="email" placeholder="test@email.com" />
      <span *ngIf="emailIsInvalid" class="error"
        >Diese E-Mail-Adresse ist leider ungültig.</span
      >
    </div>
    <div class="container-input-field">
      <img src="assets/icons/lock.png" alt="icon of lock" />
      <input type="password" placeholder="test" />
      <span *ngIf="passwordIsWrong" class="error"
        >Falsches Passwort. Bitte noch einmal versuchen.</span
      >
    </div>
  </form>
  <a class="forgot-password">Passwort vergessen?</a>

  <!--Router link-->

  <div class="or-container">
    <img src="assets/imgs/line.png" alt="image of samall line" />
    <span>ODER</span>
  </div>

  <button class="btn-google">
    <img src="assets/icons/google.png" alt="image of google icon" />
    <span>Anmelden mit Google</span>
  </button>

  <div class="register-container">
    <button>Anmelden</button>
    <button>Gäste-Login</button>
  </div>
</section>
