<div onload="this.responsiveView()" class="content-wrap">
  <app-mobile-header></app-mobile-header>
  <app-header></app-header>

  <div class="dasboard-container">
    @if (this.repService.sideLeftVisible) {
      <app-side-left></app-side-left>
    }
    @if (this.repService.routerIsVisible) {
      <div class="router"><router-outlet></router-outlet></div>
    }
    @if (this.repService.sideRightVisible) {
      <app-side-right></app-side-right>
    }
  </div>

  <app-create-channel></app-create-channel>
  <app-workspacebutton></app-workspacebutton>

</div>