<div class="message-div-container" (mouseenter)="scrollToBottom()">
  <div class="message-header-container">
    <img src="assets/imgs/userMale2.png" />
    <div class="message-user-name">{{this.clickedContact.name}}</div>
  </div>

  <div class="messages-channel-container" #scroll>
    <div *ngFor="let chat of this.us.clickedContact.value.chats; let i = index">
      <div *ngIf="this.cs.checkIfNewDay(this.cs.getChats(), i)">{{chat.createdTime['fullDay']}}</div>
      <app-message-of-user [messageData]="chat" [messageType]="'directMessage'"></app-message-of-user>
    </div>
  </div>

  <!-- inner info card -->
  <div *ngIf="!this.service.isWritingMessage && noChatsAvailable()" class="inner-info-card-container">
    <div class="message-inner-container">
      <img src="assets/imgs/userMale2.png" />
      <div class="message-inner-name">{{this.clickedContact.name}}</div>
    </div>

    <div class="this-conversation-text-container">
      <div>Diese Unterhaltung findet nur zwischen</div>
      <div class="name-of-chat-partner">@{{this.clickedContact.name}}</div>
      <div>und dir statt.</div>
    </div>
  </div>  

  <app-input-field-message (mouseenter)="scrollToBottomConstantly()" (mouseleave)="scrollToBottom()"></app-input-field-message>
</div>