@import 'src/styles.scss';
.input-box-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    border: 1px solid #adb0d9;
    border-radius: 20px;
    padding: 0px 25px;
    margin: 20px 20px;
  
    input {
      width: -webkit-fill-available;
      border: none;
      padding: 20px 0px;
      outline: none;
    }
  }
  
  .add-icon-purple {
    display: none;
  }
  
  .add-icon-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    img {
      border-right: 1px solid #adb0d9;
      padding-right: 5px;
    }
  
    &:hover {
      .add-icon-normal {
        display: none;
      }
      .add-icon-purple {
        display: flex;
      }
    }
  }
  
  .add-data-to-input-box-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .att-and-smiley-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .bottom-container-of-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .att-icon-purple {
    display: none;
  }
  
  .att-icons-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .att-icon-grey {
        display: none;
      }
      .att-icon-purple {
        display: flex;
      }
    }
  }

  .selected-input {
    color: $purple;
  }
  
  .smiley-icon-purple {
    display: none;
  }
  .smiley-icons-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .smiley-icon-grey {
        display: none;
      }
      .smiley-icon-purple {
        display: flex;
      }
    }
  }
  
  .send-btn-container {
    display: flex;
    align-items: center;
  
    img {
      cursor: pointer;
    }
  }

  .members-of-channel{
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 4px;
    transition: 325ms ease;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-bottom-left-radius: 0px !important;
    transition: padding 225ms ease-in-out;
    position: absolute;
    right: 0;
    bottom: 101px;
    padding: 20px 40px; 
    cursor: pointer;
    max-height: 200px;
    overflow-y: scroll;
  }

  
    
    


.users-list{
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: $purple2;
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 5px
}

.users-list:hover{
  background-color: $purple;
}


.user-list-img{
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.members-of-channel::-webkit-scrollbar {
  width: 4px;
}

.members-of-channel::-webkit-scrollbar-track {
  background-color: white;
}

.members-of-channel::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 25px;
}