@import "src/styles.scss";
.input-box-container {
  width: -webkit-fill-available;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 0px 25px;
  margin: 20px 20px;
  background-color: white;
  input {
    width: -webkit-fill-available;
    border: none;
    padding: 20px 0px;
    outline: none;
  }
}

.add-icon-purple {
  display: none;
}





.add-data-to-input-box-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.att-and-smiley-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bottom-container-of-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.att-icon-purple {
  display: none;
}

.att-icons-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .att-icon-grey {
      display: none;
    }
    .att-icon-purple {
      display: flex;
    }
  }
}

.selected-input {
  color: $purple;
}

.smiley-icon-purple {
  display: none;
}
.smiley-icons-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .smiley-icon-grey {
      display: none;
    }
    .smiley-icon-purple {
      display: flex;
    }
  }
}

.send-btn-container {
  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #444DF2;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

