
<div class="input-box-container">
    <input
      type="text"
      (input)="this.service.onInputMessage($event)"
      placeholder="Nachricht an #Entwicklerteam"
    />
  
    <div class="bottom-container-of-input">
      <div class="add-data-to-input-box-container">
        <div class="add-icon-container">
          <img class="add-icon-normal" src="assets/icons/add-grey.png" />
          <img class="add-icon-purple" src="assets/icons/add_purple.png" />
        </div>
  
        <div class="att-and-smiley-container">
          <div class="att-icons-container">
            <img class="att-icon-grey" src="assets/icons/@-icon-grey.png" />
            <img class="att-icon-purple" src="assets/icons/@-icon-purple.png" />
          </div>
          <div class="smiley-icons-container">
            <img
              class="smiley-icon-grey"
              src="assets/icons/smiley-icon-grey.png"
            />
            <img
              class="smiley-icon-purple"
              src="assets/icons/smiley-icon-purple.png"
            />
          </div>
        </div>
      </div>
  
      <div class="send-btn-container">
        <img
          *ngIf="!this.service.isWritingMessage"
          class="send-btn-false"
          src="assets/icons/disabeld_send-icon.png"
        />
        <img
          *ngIf="this.service.isWritingMessage"
          class="send-btn-true"
          src="assets/icons/send.png"
        />
      </div>
    </div>
  </div>
