<div class="input-box-container">
  <input type="text" (input)="this.service.onInputMessage($event)" placeholder="Nachricht an {{clickedContact.name}}"
    [ngClass]="{'selected-input': isInputSelected}" [(ngModel)]="input" />

  <div class="bottom-container-of-input">
    <div class="add-data-to-input-box-container">
      <div class="add-icon-container">
        <input (change)="fileExplorer($event)"  type="file" id="file" value="" name="avatar" accept="image/png, image/jpeg" />
        <img class="add-icon-normal" src="assets/icons/add-grey.png" />
        <img class="add-icon-purple" src="assets/icons/add_purple.png" />
      </div>

      <div class="att-and-smiley-container">
        <!-- <div (click)="toggleBtn('userList')" class="att-icons-container">
          <img class="att-icon-grey" src="assets/icons/@-icon-grey.png" />
          <img class="att-icon-purple" src="assets/icons/@-icon-purple.png" />
        </div> -->
        <div (click)="toggleBtn('emojis')" class="smiley-icons-container">
          <img class="smiley-icon-grey" src="assets/icons/smiley-icon-grey.png" />
          <img class="smiley-icon-purple" src="assets/icons/smiley-icon-purple.png" />
        </div>
        <div class="file-container" *ngIf="selectedFile">
          {{ selectedFile.name }}
        </div>
      </div>
    </div>

    <div class="send-btn-container" routerLink="../message" (click)="sendDirectMessage()">
      <img *ngIf="!this.service.isWritingMessage && !this.storService.loader" class="send-btn-false" src="assets/icons/disabeld_send-icon.png" />
      <img *ngIf="this.service.isWritingMessage && !this.storService.loader" class="send-btn-true" src="assets/icons/send.png" />
      <span *ngIf="this.storService.loader" class="loader"></span>
    </div>
  </div>





  
  <div id="emoji-container" *ngIf="showEmojis">
    <emoji-mart  (emojiClick)="addEmoji($event); this.service.isWritingMessage = true;"></emoji-mart>
  </div>

</div>