.hovered-image-close {
    content: url('../../../../src/assets/icons/workspace/cm_p.png');
  }

  .hovered-image-open {
    content: url('../../../../src/assets/icons/workspace/om_p.png');
  }


@media (max-width: 500px){
    .hide-mobile{
        display: none;
    }
}