<div *ngIf="ws.workspaceButtonVisible" (click)="this.respService.onlyWorksSpace()" class="close-workspace" (mouseover)="hovered = true" (mouseout)="hovered = false" >
  <div class="close-workspace-text hide-mobile">{{respService.sideLeftVisible ? 'Workspace-Menü schließen' :
    'Workspace-Menü öffnen'}}</div>
  <img [src]="respService.sideLeftVisible ? 'assets/icons/workspace/cm_b.png' : 'assets/icons/workspace/om_b.png'"    
  [ngClass]="{'hovered-image-close': hovered && respService.sideLeftVisible, 'hovered-image-open': hovered && !respService.sideLeftVisible}" />
</div>