<div class="message-div-container">
    <div class="message-header-container">
        <div class="message-user-name">Neue Nachricht</div>

        <div class="selected-members">
            <div *ngIf="member.firstName" class="complete-member">
                <div class="complete-name">{{member.firstName}} {{member.lastName}}</div>
                <div class="remove-member" (click)="removeMember(member.email)">
                    <img class="close-normal" src="assets/icons/close.png" />
                    <img class="close-purple" src="assets/icons/close_purple.png" />
                </div>
            </div>

            <div *ngIf="channel.name" class="complete-member">
                <div class="complete-name">{{channel.name}}</div>
                <div class="remove-member" (click)="removeChannel(channel.name)">
                    <img class="close-normal" src="assets/icons/close.png" />
                    <img class="close-purple" src="assets/icons/close_purple.png" />
                </div>
            </div>

            <input autofocus [(ngModel)]="this.inputValue" (input)="filterMembers();"
                class="channel-selected-member-input" placeholder="An: #channel oder @jemand oder E-Mail Adresse">
        </div>

        <div *ngIf="showAddMember" class="choose-members-wrap">
            <div class="first-line">
                <div class="headline-white-box">Mitglieder</div>
                <div class="around-close" (click)="openCloseAdd()">
                    <img src="assets/icons/close.png">
                </div>
            </div>
            <div class="user-list-wrap">
                <div class="user-list">
                    <div class="oneUser-line" *ngFor="let user of filteredMembers" (click)="addMember(user); clearSearchInput()">
                        <img class="profile-image" src="assets/imgs/userMale3.png">
                        <div class="name-text">
                            {{ user.firstName }} {{ user.lastName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showAddChannel" class="choose-members-wrap">
            <div class="first-line">
                <div class="headline-white-box">Channels</div>
                <div class="around-close" (click)="openCloseAdd()">
                    <img src="assets/icons/close.png">
                </div>
            </div>
            <div class="user-list-wrap">
                <div class="user-list">
                    <div class="oneUser-line" *ngFor="let channel of filteredChannels" (click)="addChannel(channel); clearSearchInput()">
                        <div class="name-text">
                            # {{ channel.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- inner info card -->
    <div class="inner-info-card-container">
        <div class="message-inner-container">
            <img src="assets/imgs/userMale2.png" />
            <div class="message-inner-name"></div>
        </div>

        <div *ngIf="member.firstName" class="this-conversation-text-container">
            <div>Diese Unterhaltung findet nur zwischen</div>
            <div class="name-of-chat-partner">@{{member.firstName}} {{member.lastName}}</div>
            <div>und dir statt.</div>
        </div>
    </div>

    <app-input-field-message></app-input-field-message>
</div>