<section>
  <div class="arrow-container">
    <img
      *ngIf="!arrowBackIsHovered && isDesktop"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      src="assets/icons/arrow_back.png"
      alt="icon of black arrow"
    />
    <img
      *ngIf="arrowBackIsHovered && isDesktop"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      (click)="backToPreviousRoute()"
      src="assets/icons/arrow_back_purple.png"
      alt="icon of purple arrow"
    />
    <img
      *ngIf="!isDesktop"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      (click)="backToPreviousRoute()"
      src="assets/icons/arrow_back.png"
      alt="icon of black arrow"
    />
  </div>

  <span class="headline">Impressum</span>

  <span class="description">Muhammed Akbas, Markus Gede, Laura Hesidenz </span>
  <span class="description">Laura Hesidenz, Museralle 63</span>
  <span class="description">10115 Berlin </span>
  <span class="headline">Kontakt</span>
  <span class="description">Email: l.hesidenz97@gmail.com</span>
</section>
