@import "src/styles.scss";

section {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
}

.arrow-container {
  display: flex;
  justify-content: flex-start;

  img {
    padding: 8px;
    cursor: pointer;
    &:hover {
      padding: 8px;
      border-radius: 50px;
      background-color: $light-violet;
      color: $purple;
    }
  }
}

.headline {
  color: $purple3;
  font-size: 46px;
  font-weight: 700;
}

.description {
  font-size: 20px;
}

@media only screen and (max-width: 950px) {
  .headline {
    font-size: 40px;
  }

  .description {
    font-size: 18px;
  }
}
