@import "src/styles.scss";

$height-imprint-privacy-policy: 45px;

header {
  position: absolute;
  left: $gapBody;
  right: $gapBody;
  top: $gapBody;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  img {
    object-fit: cover;
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  font-size: 18px;
}
.create-account {
  color: $purple2;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid transparent;
  text-decoration: none;
  &:hover {
    border-color: $light-grey;
    cursor: pointer;
  }
}

main {
  position: absolute;
  top: calc($gapBody + 90px + 15px);
  left: 0;
  right: 0;
  bottom: $gapBody;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: unset;
}

.display-container {
  width: clamp(450px, 40%, 550px);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.imprint-privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 45px;
  a {
    text-decoration: none;
    color: $purple2;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid transparent;

    &:hover {
      border-color: $light-grey;
      cursor: pointer;
    }
  }
}

.container-text-mobile {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  display: none;
}

//ANIMATION

.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $purple;
  z-index: 5;
  animation: disapear 1s ease 2s forwards;
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  animation: moveToTopLeft 1s ease 2s forwards;
  img {
    animation: logoSlideToLeft 1s ease forwards;
  }
  span {
    animation: spanSlideToRight 1.5s ease forwards;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    img {
      animation: logoSlideToLeft-small 1s ease forwards;
    }
    span {
      animation: spanSlideToRight-small 1.5s ease forwards;
    }
  }
}

@keyframes disapear {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes logoSlideToLeft {
  0% {
    transform: translateX(227px);
  }
  60% {
    transform: translateX(227px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes logoSlideToLeft-small {
  0% {
    transform: translateX(100px);
  }
  60% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spanSlideToRight {
  0% {
    opacity: 0;
    transform: translateX(-227px);
  }
  70% {
    opacity: 0;
    transform: translateX(-227px);
  }
  80% {
    opacity: 0;
    transform: translateX(-227px);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spanSlideToRight-small {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 0;
    transform: translateX(-100px);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToTopLeft {
  90% {
    opacity: 0;
  }
  100% {
    top: 0;
    left: 32px;
  }
}

.animation-text {
  font-size: 72px;
  font-weight: 600;
  color: #fff;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgb(47, 47, 47);
  opacity: 0.5;
  z-index: 20;
}

//RESPONSIV

@media only screen and (max-height: 1100px) {
  header {
    position: unset;
  }
}

@media only screen and (max-height: 930px) {
  main {
    position: unset;
    margin-top: 32px;
    gap: 32px;
  }

  .imprint-privacy-policy {
    margin-bottom: $gapBody;
  }
}

@media only screen and (max-width: 1000px) {
  .display-container {
    width: clamp(400px, 55%, 650px);
  }
}

@media only screen and (max-width: 920px) {
  .container-text-mobile {
    margin-bottom: $gapBody;
  }
}

@media only screen and (max-width: 610px) {
  main {
    gap: 32px;
  }

  header {
    justify-content: center;
    padding: $gapBody 0px;
  }

  .imprint-privacy-policy,
  .container-text {
    display: none !important;
  }

  .container-text-mobile {
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .display-container {
    width: clamp(250px, 75%, 400px);
  }
}

@media only screen and (max-width: 550px) {
  .display-container {
    width: clamp(250px, 75%, 400px);
  }
}

@media only screen and (max-width: 1500px) {
  .animation-container {
    img {
      width: 150px;
      height: 130px;
    }
    .animation-text {
      font-size: 60px;
    }
  }
}

@media only screen and (max-width: 610px) {
  .animation-container {
    display: none;
  }

  .content {
    animation: none;
    img {
      animation: none;
    }
    span {
      animation: none;
    }
  }
}
