<header>
  <img src="assets/imgs/logo.png" alt="image of logo" />

  <div *ngIf="router.url === '/login/display-login'" class="container-text">
    <span>Neu bei DABubble?</span>
    <a routerLink="create-account" class="create-account">Konto erstellen</a>
  </div>
</header>

<main>
  <div class="display-container">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="imprint-privacy-policy">
  <a routerLink="imprint" class="create-account">Impressum</a>
  <a routerLink="privacy-policy" class="create-account">Datenschutz</a>
</div>

<div class="animation-container d-none">
  <img src="./assets/imgs/logo-no-text.png" alt="logo" />
  <div class="letters">
    <span>D</span>
    <span>A</span>
    <span>B</span>
    <span>u</span>
    <span>b</span>
    <span>b</span>
    <span>l</span>
    <span>e</span>
  </div>
</div>
