@import "src/styles.scss";

$height-imprint-privacy-policy: 45px;

header {
  position: absolute;
  left: $marginBody;
  right: $marginBody;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  .container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    font-size: 18px;
  }
  .create-account {
    color: $purple2;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid transparent;
    text-decoration: none;
    &:hover {
      border-color: $light-grey;
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - $marginBody - $marginBody - $height-imprint-privacy-policy
  );
}

.display-container {
  width: clamp(350px, 30%, 450px);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.imprint-privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 45px;
  a {
    text-decoration: none;
    color: $purple2;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid transparent;

    &:hover {
      border-color: $light-grey;
      cursor: pointer;
    }
  }
}
