<header>
  <img src="assets/imgs/logo.png" alt="image of logo" />
  <div *ngIf="loginDisplayIsOpen" class="container-text">
    <span>Neu bei DABubble?</span>
    <a routerLink="/create-account" class="create-account">Konto erstellen</a>
  </div>
</header>

<main>
  <div class="display-container">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="imprint-privacy-policy">
  <a routerLink="/imprint" class="create-account">Impressum</a>
  <a routerLink="/privacy-policy" class="create-account">Datenschutz</a>
</div>

<!-- call sendDoc with test JSON (see in login.component.ts)-->
<button class="d-none" (click)="sendDoc()">send test user</button>
