<div class="thread-user-container">
  <div class="thread-user-img-container">
    <img src="assets/imgs/userMale1.png" />
  </div>

  <div class="info-and-message-box">
    <div class="thread-info-container">
      <div *ngIf="messageType=='channelMessage'" class="thread-user-name">{{us.getUserName(this.data.userCustomId )}}</div>
      <div *ngIf="messageType=='directMessage'" class="thread-user-name">{{us.getUserName(this.messageData.userCustomId)}}</div>
      <!-- chatsofUser![index]['createdTime']['day'] -->
      <div class="thread-message-time">{{this.data.createdTime['time'] || this.messageData.createdTime['time']}}</div>
    </div>

    <div class="thread-message-container">{{ this.data.message || this.messageData.message }}</div>
  </div>
</div>


