<div class="thread-user-container" [ngClass]="{'row-reverse': checkIfOwnMessage()}">
  <div class="thread-user-img-container">
    <img src="assets/imgs/userMale1.png" />
  </div>

  <div class="info-and-message-box" [ngStyle]="{'width': getEditMode ? '100%' : 'auto'}"
    (mouseover)="reactionChoice(true)" (mouseleave)="reactionChoice(false)">
    <div class="thread-info-container" [ngClass]="{'row-reverse': checkIfOwnMessage()}">
      <div *ngIf="messageType=='channelMessage'" class="thread-user-name">
        {{us.getUserName(this.data.userCustomId )}}
      </div>
      <div *ngIf="messageType=='directMessage'" class="thread-user-name">
        {{us.getUserName(this.messageData.userCustomId)}}
      </div>
      <div class="thread-message-time">{{this.data.createdTime['time'] || this.messageData.createdTime['time']}}</div>
    </div>

    <!-- <div *ngIf="this.storService.channelCurrentUrl">
      <img class="image-of-storage" [src]="this.storService.channelCurrentUrl"  alt="">
    </div> -->

    <div class="thread-message-container" [ngClass]="{'purple2': !checkIfOwnMessage()}">
      <div *ngIf="!getEditMode">{{ this.data.message || this.messageData.message }}</div>
      <div *ngIf="getEditMode && messageType=='channelMessage'"><input class="inputfield" type="text"
          [(ngModel)]="this.data.message">
      </div>
      <div *ngIf="getEditMode && messageType=='directMessage'"><input class="inputfield" type="text"
          [(ngModel)]="this.messageData.message">
      </div>
      <div *ngIf="getEditMode" class="panel-wrap">
        <div class="hover-area">
          <img class="icon" src="assets/reactions/add_reaction.png">
          <img class="icon_purple" src="assets/reactions/add_reaction_purple.png">
        </div>
        <div class="buttons">
          <div *ngIf="getEditMode" class="btn-wrap">
            <div class="btn-purple" (click)="takePreviousMessage(); closeEditWindow()">
              Abbrechen
            </div>
          </div>
          <div *ngIf="getEditMode" class="btn-wrap">
            <div class="btn-purple" style="background-color: white; color: #444DF2" (click)="saveEditedMessage()">
              Speichern
            </div>
          </div>
        </div>
      </div>

      <div class="message-reactions-wrap">
        <ng-container *ngFor="let emoji of (messageType === 'directMessage' ? messageData.emojis : data.emojis) || []">
          <div class="reaction-type-wrap" *ngIf="emoji.amount > 0">
            <div class="img-wrap"><img [src]="emoji.path"></div>
            <div class="amount-reaction-type">{{emoji.amount}}</div>
          </div>
        </ng-container>
      </div>

    </div>
    <!-- showReactionChoice" -->
    <app-message-reaction [messageType]="messageType" [messageData]="messageData" [data]="data" [clickedContact]="clickedContact" [clickedChannel]="clickedChannel" *ngIf="showReactionChoice"
      [withEditMessageOption]="checkIfOwnMessage()" (editMode)="receiveValueFromChild($event)"
      [messageOfLoggedInUser]="checkIfOwnMessage()"></app-message-reaction>
  </div>
</div>