@import 'src/app/components-sub/message-reaction/message-reaction.component.scss';

.info-and-message-box {
    position: relative;
    transition: width 1.5s ease-in-out;
}


.inputfield {
    background-color: white;


}

.panel-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 32px;
}

.image-of-storage {
    height: 100px;
}

.message-reactions-wrap {
    display: flex;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    background-color: white;
    padding: 4px 32px 4px 32px;
    // overflow-x: hidden;
}

.link-to-answers {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 20px;
    white-space: nowrap;
    padding: 0 32px 4px 32px;

    .answer-amount-wrap {
        display: flex;
        color: $purple;
        font-size: 18px;
        gap: 10px;
        cursor: pointer;
        white-space: nowrap;
    }

    .last-answer-time {
        display: flex;
        font-size: 14px;
        color: $grey;
        white-space: nowrap;
    }
}

.left-0 {
    left: 0;
}

.flex-end {
    justify-content: flex-end;
}

.border-radius-own-message {
    border-radius: 20px 0px 20px 20px;
}

// .message-reactions-wrap:hover {
//     overflow-x: auto; /* Scrollbar bei Hover einblenden */
// }

// .message-reactions-wrap::-webkit-scrollbar {
//     height: 6px;
// }

// .message-reactions-wrap::-webkit-scrollbar-track {
//     background-color: white;
// }

// .message-reactions-wrap::-webkit-scrollbar-thumb {
//     background-color: $light-grey;
//     border-radius: 25px;
// }

.reaction-type-wrap {
    display: flex;
    height: 35px;
    border: 1px solid $light-grey;
    padding: 5px 10px;
    border-radius: 20px;
    box-sizing: border-box;
    gap: 5px;
    cursor: pointer;

    .amount-reaction-type {
        display: flex;
        align-items: center;
        color: black;
    }
}

.imagePreview {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #535bf11c;
    padding: 20px;
    border: 2px solid #535bf11c;
    backdrop-filter: blur(10px);
    

    width: 90%;
    height: 480px;


    img {
        max-height: 300px;
        height: fit-content;
        width: fit-content;
    }
}
.close-icon-purple {
    display: none;

    height: 24px;
}

  .close-icon-container {
    position: absolute;
    top: 40px;
    right: 40px;
    img {
      
      padding: 5px;
      border-radius: 20px;
      height: 20px;
      width: 20px;
    }

    &:hover {
      .close-icon-normal {
        display: none;
      }
      .close-icon-purple {
        display: flex;
        background-color: #303da12a;
        
        img{
            z-index: 10;
            filter: invert(10);
        }
      }
    }
  }

 