<div [class.grow]="!this.ws.showSideLeft" class="channel-div-container">
  <div class="channel-header-container">
    <div class="channel-info-container">
      <div class="channel-info-unfold" (click)="showInfo()">
        <img src="assets/icons/hasthTag.png" />
        <div class="channel-name">{{this.clickedChannel.name}}</div>
        <img src="assets/icons/arrowDown.png" />
      </div>

      <!-- infoVisible -->
      <div class="wrap" *ngIf="infoVisible">
        <div class="dialog info-foldable">
          <div class="headline">
            <div class="hash_name">
              <img src="assets/icons/hasthTag.png" />
              <div class="channel-name">{{this.clickedChannel.name}}</div>
            </div>
            <div (click)="showInfo()" class="around-close">
              <img src="assets/icons/close.png" alt="">
            </div>
          </div>
          <div class="info-part">
            <div class="first-line">
              <div class="h-name">Channel-Name</div>
              <div *ngIf="editNameButton" (click)="changeNameToInput()" class="edit">Bearbeiten</div>
              <div *ngIf="!editNameButton"
                (click)="this.cs.updateChannel({name: this.clickedChannel.name}, clickedChannel); changeNameToInput()"
                class="edit">Speichern</div>
            </div>
            <div class="second-line">
              <img src="assets/icons/hasthTag.png" />
              <div *ngIf="editNameButton" class="info-text">{{this.clickedChannel.name}}</div>
              <div *ngIf="!editNameButton" class="input-wrap"><input class="inputfield" type="text"
                  [(ngModel)]="this.clickedChannel.name">
              </div>
            </div>
          </div>
          <div class="info-part description-scroll">
            <div class="first-line">
              <div class="h-name">Beschreibung</div>
              <div *ngIf="editDescriptionButton" (click)="changeDescriptionToInput()" class="edit">Bearbeiten</div>
              <div *ngIf="!editDescriptionButton"
                (click)="this.cs.updateChannel({description: this.clickedChannel.description}, clickedChannel); changeDescriptionToInput()"
                class="edit">Speichern</div>
            </div>
            <div class="second-line">
              <div *ngIf="editDescriptionButton" class="info-text">{{this.clickedChannel.description}}</div>
              <div *ngIf="!editDescriptionButton" class="input-wrap"><input class="inputfield" type="text"
                  [(ngModel)]="this.clickedChannel.description"></div>
            </div>

            <div class="separator"></div>
            <div class="h-name">Erstellt von</div>
            <div class="created-by">{{this.clickedChannel.createdBy.firstName}}
              {{this.clickedChannel.createdBy.lastName}}
            </div>
          </div>
          <div class="btn-wrap">
            <div class="btn-purple" (click)="this.cs.leaveChannel()">Channel verlassen</div>
          </div>
        </div>
      </div>
    </div>

    <div class="channel-all-user-plus-add">
      <div class="channel-user-img-container">
        <img *ngFor="let item of clickedChannel.members" src="assets/imgs/userMale1.png" />
      </div>

      <div class="channel-user-counter">
        <div>{{clickedChannel.members.length}}</div>
      </div>

      <div class="channel-add-user-container" (click)="switchShowAddMembersInExistingChannel()">
        <img class="add-user-normal" src="assets/icons/person_add.png" />
        <img class="add-user-purple" src="assets/icons/person_add_purple.png" />
      </div>
    </div>
  </div>

  <!-- Leute hinzufügen Feld -->
  <div class="wrap" *ngIf="ws.showAddMembersInExistingChannel">
    <div class="dialog">

      <div class="first-line">
        <div class="headline-white-box ">Leute hinzufügen</div>
        <div (click)="switchShowAddMembersInExistingChannel()" class="around-close">
          <img src="assets/icons/close.png">
        </div>
      </div>

      <!-- Inputfield -->
      <div class="selected-members">
        <div *ngFor="let item of additionalMembers" class="complete-member">
          <img class="profile-image" src="assets/imgs/userMale3.png">
          <div class="complete-name">{{item.firstName}} {{item.lastName}}</div>
          <div class="remove-member" (click)="removeMember(item.email)">
            <img class="close-normal" src="assets/icons/close.png" />
            <img class="close-purple" src="assets/icons/close_purple.png" />
          </div>
        </div>
        <!-- !this.ws.radioButtonFirst -->
        <input [(ngModel)]="this.ws.inputMember" (input)="sis.allFieldsFilled(); addPreviousMembers(); sis.filterMembers(additionalMembers)" class="inputfield"
          placeholder="Name eingeben">
      </div>

      <!-- Dropdown-Liste -->
      <div class="choose-members-wrap" *ngIf="this.ws.showAddMembers">
        <div class="first-line">
          <div class="headline-white-box">Mitglieder</div>
          <div class="around-close" (click)="this.ws.closeAddMembers()">
            <img src="assets/icons/close.png">
          </div>
        </div>
        <div class="user-list-wrap">
          <div class="user-list">
            <div class="oneUser-line" *ngFor="let user of sis.filteredMembers"
              (click)="additionalMembers.push(user); sis.clearSearchInput()">
              <img class="profile-image" src="assets/imgs/userMale3.png">
              <div class="name-text">
                {{ user.firstName }} {{ user.lastName}}
              </div>
            </div>
          </div>
          <div class="add-object-wrap">
            <div class="add-object" (click)="sis.clearSearchInput()">
              <div class="add-img-wrap">
                <img class="add-standard" src="assets/icons/add_members_button.png">
              </div>
              <div class="text-add-object">Mitglieder hinzufügen</div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-wrap">
        <div (click)="cs.updateChannel({members: cs.getCleanMemberJson(additionalMembers)}, clickedChannel); switchShowAddMembersInExistingChannel()" class="btn-grey">Hinzufügen</div>
      </div>

    </div>
  </div>

  <!-- container of input -->
  <app-input-field-channel></app-input-field-channel>

</div>