$width-channel: 989px;
$light-violet: #eceefe;
.channel-div-container {
  height: 85vh;
  position: relative;
  // width: $width-channel;
  background-color: white;
  border-radius: 30px;
  margin-right: 15px;
  transition: opacity 1s, transform 1s; // Füge die Opaz
}

.grow {
  // transform: translateX(-100px);
}

.channel-header-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.channel-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.channel-name {
  font-size: 24px;
}
.channel-all-user-plus-add {
  display: flex;
  align-items: center;
  gap: 10px;
}
.channel-user-img-container {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 30px;
    margin-right: -10px;
  }

  img:last-child {
    margin-right: 0;
  }
}

.channel-add-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: $light-violet;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    .add-user-normal {
      display: none;
    }
    .add-user-purple {
      display: flex;
    }
  }
}

.channel-user-counter {
  font-weight: 600;
  font-size: 20px;
}

.add-user-purple {
  display: none;
}

.input-box-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 0px 25px;
  margin: 20px 20px;

  input {
    width: -webkit-fill-available;
    border: none;
    padding: 20px 0px;
    outline: none;
  }
}

.add-icon-purple {
  display: none;
}

.add-icon-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  img {
    border-right: 1px solid #adb0d9;
    padding-right: 5px;
  }

  &:hover {
    .add-icon-normal {
      display: none;
    }
    .add-icon-purple {
      display: flex;
    }
  }
}

.add-data-to-input-box-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.att-and-smiley-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bottom-container-of-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.att-icon-purple {
  display: none;
}

.att-icons-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .att-icon-grey {
      display: none;
    }
    .att-icon-purple {
      display: flex;
    }
  }
}

.smiley-icon-purple {
  display: none;
}
.smiley-icons-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .smiley-icon-grey {
      display: none;
    }
    .smiley-icon-purple {
      display: flex;
    }
  }
}


.send-btn-container{
  display: flex;
  align-items: center;
  
  img{
    cursor: pointer;
  }

  &:hover{
    // .send-btn-true{
    //   display: flex;
    // }
    // .send-btn-false{
    //   display: none;
    // }
  }
}
