<div [class.grow]="!this.ws.showSideLeft" class="channel-div-container">
  <div class="channel-header-container">
    <div class="channel-info-container">
      <img src="assets/icons/hasthTag.png" />
      <div class="channel-name">Entwicklerteam</div>
      <img src="assets/icons/arrowDown.png" />
    </div>

    <div class="channel-all-user-plus-add">
      <div class="channel-user-img-container">
        <img src="assets/imgs/userFemale1.png" />
        <img src="assets/imgs/userMale1.png" />
        <img src="assets/imgs/userFemale2.png" />
      </div>

      <div class="channel-user-counter">
        <div>3</div>
      </div>

      <div class="channel-add-user-container">
        <img class="add-user-normal" src="assets/icons/person_add.png" />
        <img class="add-user-purple" src="assets/icons/person_add_purple.png" />
      </div>
    </div>
  </div>

  <!-- container of input -->
  <app-input-field></app-input-field>
  <!--  -->
</div>
