@import "src/styles.scss";
@import "src/app/components-sub/create-channel/create-channel.component.scss";

$width-channel: 989px;

app-messages-channel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100px;
  overflow-y: auto;
}

.channel-div-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 30px;
  margin-right: 15px;
  transition: opacity 1s, transform 1s; // Füge die Opaz
  width: 100%;
}

.channel-header-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.channel-info-container {
  position: relative;

  img {
    cursor: pointer;
  }
}

.channel-name {
  font-size: 24px;
}

.channel-info-unfold {
  display: flex;
  padding: 6px 10px;
  border-radius: 100px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  transition: 100ms;

  &:hover {
    background-color: $light-violet;
  }
}

.channel-all-user-plus-add {
  display: flex;
  align-items: center;
  gap: 10px;
}

.channel-user-img-container {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 30px;
    margin-right: -10px;
  }

  img:last-child {
    margin-right: 0;
  }
}

.channel-add-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: $light-violet;
  border-radius: 20px;
  cursor: pointer;



  &:hover {
    .add-user-normal {
      display: none;
    }

    .add-user-purple {
      display: flex;
    }
  }
}

.add-user-purple {
  display: none;
}


.add-member-info {
  display: flex;

  &:hover {
    .add-user-normal-info {
      display: none;
    }

    .add-user-purple-info {
      display: flex;
    }
  }
}

.add-user-purple-info {
  display: none;
}


.channel-user-counter {
  font-weight: 600;
  font-size: 20px;
}

.dialog-channel-info {
  @extend .dialog;
  padding-left: 0;
  padding-right: 0;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 700px;
  max-height: 100vh;

  .headline {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 100px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    img {
      height: 20px;
      width: 20px;
    }

    .hash_name {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  .main-info {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    gap: 25px;
    overflow: auto;
  }

  .main-info::-webkit-scrollbar {
    width: 4px;
  }

  .main-info::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 25px;
  }
}


.info-part {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $light-grey;
  gap: 20px;

  .separator {
    background-color: $light-grey;
    width: 100%;
    height: 1px;
  }

  .created-by {
    font-size: 24px;
    font-weight: 400;
    color: $purple;
  }
}

.first-line {
  display: flex;
  justify-content: space-between;

  .edit {
    color: $purple;
    font-size: 18px;
    cursor: pointer;
  }
}

.h-name {
  font-size: 18px;
  font-weight: 700;
}

.h-members {
  @extend .h-name;
  font-size: 24px;
}

.members-list-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100px;
  overflow-y: auto;

  .img-name {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 4px 20px;
  }

  img {
    border-radius: 30px;
    height: 50px;
    width: 50px;
  }

  .user-name {
    font-size: 18px;
    font-weight: 400;
  }
}

.members-list-wrap::-webkit-scrollbar {
  width: 4px;
}

.members-list-wrap::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 25px;
}

.img-add-users {
  border-radius: 30px;
  height: 32px !important;
  width: 32px !important;
}


.second-line {
  display: flex;
  align-items: center;
  gap: 10px;

  .info-text {
    font-size: 18px;
    font-weight: 400;
  }

  img {
    height: 16px;
    width: 16px;
  }
}



.around-close {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
  transition: 100ms;


  img {
    position: absolute;
    height: 24px;
    width: 24px;
  }

  &:hover {
    background-color: $light-violet;
  }
}

.description-scroll {
  overflow-y: auto;
}

.description-scroll::-webkit-scrollbar {
  width: 4px;
}

.description-scroll::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 25px;
}

.welcome-explaination {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 610px) {

  .hide-mobile {
    display: none;
  }

  .channel-div-container {
    border-radius: 0px;
    margin-right: 0px;
    width: 100%;
  }

  // .channel-all-user-plus-add{
  //   display: none;
  // }
  .channel-user-img-container {
    img {
      height: 22px;
      width: 22px;
    }
  }

  .channel-add-user-container {
    height: 22px;
    width: 22px;
  }

  .channel-user-counter {
    font-size: 18px;
  }

  .channel-info-unfold {
    img {
      height: 16px;
    }

    .channel-name {
      font-size: 20px;
    }

  }

  .channel-header-container {
    padding: 25px 5px;
  }

  .dialog-channel-info {
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    width: 100vw;
  }

  .headline {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .add-members-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: slideInFromBottom 1s ease-in-out;
  }

  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0%);
    }
  }
}

