$width-channel: 989px;

.channel-div-container {
  height: 85vh;
  width: $width-channel;
  background-color: white;
  border-radius: 30px;
  margin-right: 15px;
  transition: opacity 1s, transform 1s // Füge die Opaz
}

.grow {
  transform: translateX(-100px);
  width: calc($width-channel + 100px);
}