@import "src/styles.scss";

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    left: -8px;
    padding: 8px;
    cursor: pointer;
    &:hover {
      padding: 8px;
      border-radius: 50px;
      background-color: $light-violet;
      color: $purple;
    }
  }
  span {
    color: $purple3;
    font-size: 46px;
    font-weight: 700;
  }
}

.description {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.container-input-field {
  position: relative;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
  }

  input {
    background-color: $light-violet;
    color: $grey;
    &:hover {
      border-color: $grey;
    }
    &:focus {
      border-color: $purple3;
    }
  }

  .error {
    position: absolute;
    bottom: -17px;
    font-size: 12px;
    color: $rosaError;
  }
}

.checkbox-privacy-policy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  a {
    text-decoration: none;
    color: $purple2;
    &:hover {
      border-radius: 30px;
      background: $light-violet;
      color: $purple3;
    }
  }
}

.continue-container {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: $purple3;
    border-color: $purple3;
    color: #fff;
    padding: 12px 25px;
  }
}

.btn-continue-valid {
  &:hover {
    background-color: $purple2 !important;
    border-color: $purple2 !important;
  }
}
