<section>
  <div class="headline-container">
    <img
      *ngIf="!arrowBackIsHovered"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      src="assets/icons/arrow_back.png"
      alt="icon of black arrow"
    />
    <img
      *ngIf="arrowBackIsHovered"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      routerLink="/login"
      src="assets/icons/arrow_back_purple.png"
      alt="icon of purple arrow"
    />
    <span>Konto erstellen</span>
  </div>
  <span class="description">
    Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
    DABubble-Konto.
  </span>
  <form ngNativeValidate [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div class="container-input-field">
      <img src="assets/icons/person.png" alt="icon of person" />
      <input
        required
        formControlName="name"
        class="input-layout"
        type="text"
        placeholder="Name und Nachname"
      />

      <span *ngIf="signUpForm.get('name')?.hasError('minlength')" class="error"
        >Der Name sollte mind. 3 Zeichen enthalten</span
      >
    </div>
    <div class="container-input-field">
      <img src="assets/icons/mail.png" alt="icon of mail" />
      <input
        required
        formControlName="email"
        class="input-layout"
        type="email"
        placeholder="beispielname@email.com"
      />
      <span
        *ngIf="
          signUpForm.get('email')?.value.length > 0 &&
          (signUpForm.get('email')?.hasError('email') ||
            !this.checkEmailContainsDot())
        "
        class="error"
      >
        Diese E-Mail-Adresse ist leider ungültig.
      </span>
      <span
        *ngIf="
          signUpForm.get('email')?.value.length > 0 &&
          this.userIsAlreadyExisting()
        "
        class="error"
      >
        Diese E-Mail-Adresse existiert bereits.
      </span>
    </div>
    <div class="container-input-field">
      <img src="assets/icons/lock.png" alt="icon of lock" />
      <input
        required
        formControlName="password"
        class="input-layout"
        type="password"
        placeholder="Passwort"
      />
      <span
        *ngIf="signUpForm.get('password')?.hasError('minlength')"
        class="error"
        >Der Name sollte mind. 8 Zeichen enthalten</span
      >
    </div>

    <label class="checkbox-privacy-policy">
      <input required formControlName="agreement" type="checkbox" /> Ich stimme
      der <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu.
    </label>

    <div class="continue-container">
      <button
        type="submit"
        class="button-layout"
        [disabled]="!signUpForm.valid"
        [class.btn-form-not-valid]="!signUpForm.valid"
        [class.btn-continue-valid]="signUpForm.valid"
      >
        Weiter
      </button>
    </div>
  </form>
</section>
