@import 'src/styles.scss';

$btn-purple: #444DF2;

.dialog-general-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .around-close {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        padding: 6px;
        cursor: pointer;
        transition: 100ms;


        img {
            position: absolute;
            height: 24px;
            width: 24px;
        }

        &:hover {
            background-color: $light-violet;
        }
    }

}

.channel-expl {
    font-size: 18px;
    font-weight: 400;
}

.channel-property {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.channel-property-title {
    font-weight: 700;
    font-size: 18px;
}

.channel-property-input {
    border-radius: 40px;
    padding: 18px 20px;
    border: 1px solid $purple2;
    outline: none;
}

.first-channel-name {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    color: $purple;
}

.selected-members {
    display: flex;
    align-items: center;
    border-radius: 40px;
    height: 24px;
    padding: 18px 6px;
    border: 1px solid $purple2;
    overflow-x: auto;
    overflow-y: hidden;
}

.selected-members::-webkit-scrollbar {
    height: 4px;
}

.selected-members::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 25px;
}

.complete-member {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: $light-violet;
    border-radius: 100px;

    .profile-image {
        height: 100%;
        width: auto;
    }

    .complete-name {
        padding: 6px;
    }
}

.dialog-members {
    @extend .dialog-general-data;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
}

.radio-wrap {
    display: flex;
    gap: 20px;
}

.choose-members-wrap {
    position: absolute;
    top: 60%;
    left: 0;
    min-width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    border-radius: 30px 0;
    background-color: white;
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.2);

    .add-object-wrap {
        display: flex;
        justify-content: flex-start;
        padding: 12px 30px;
        padding: 15px;
        cursor: pointer;

        .add-object {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .text-add-object {
            font-weight: 400;
            font-size: 18px;
        }

        .add-img-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .add-standard {
            height: 32px;
            width: 32px;
        }

        &:hover {
            .add-standard {
                opacity: 1;
                scale: 1.1;
            }

            .text-add-object {
                color: $purple;
            }
        }
    }

    .user-list-wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .user-list-wrap {
        overflow: auto;
    }

    .user-list-wrap::-webkit-scrollbar {
        width: 4px;
    }

    .user-list-wrap::-webkit-scrollbar-track {
        background-color: white;
    }

    .user-list-wrap::-webkit-scrollbar-thumb {
        background-color: $purple;
        border-radius: 25px;
    }

    .user-list {
        display: flex;
        flex-direction: column;
        gap: 13px;

        .oneUser-line {
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 20px;
            cursor: pointer;

            .name-text {
                font-weight: 400;
                font-size: 18px;
                transition: 100ms;

                &:hover {
                    color: $purple;
                }
            }

            &:hover {
                background-color: $light-violet;
            }
        }
    }
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.remove-member {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: $light-violet;
    border-radius: 20px;
    cursor: pointer;

    img {
        width: 16px;
        height: 16px;
    }

    &:hover {
        .close-normal {
            display: none;
        }

        .close-purple {
            display: flex;
        }
    }
}


.close-purple {
    display: none;
}

.inputfield{
    background-color: white;
}