<!-- this.ws.showCreateChannel -->
<div class="wrap" *ngIf="this.ws.showCreateChannel">
    <div class="dialog">
        <!-- this.ws.dialogGeneralData  -->
        <div *ngIf="this.ws.dialogGeneralData " class="dialog-general-data">
            <div class="first-line">
                <div class="headline-white-box">Channel erstellen</div>
                <div (click)="this.ws.openCloseCreateChannel()" class="around-close">
                    <img src="assets/icons/close.png" alt="">
                </div>
            </div>
            <div class="channel-expl">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen
                sein #marketing zum
                Beispiel.</div>

            <div class="channel-property">
                <div class="channel-property-title">
                    Channel name
                </div>
                <input [(ngModel)]="this.ws.inputName" (input)="allFieldsFilled()" class="channel-property-input"
                    placeholder="# z.B. Kooperationsprojekte">
            </div>

            <div class="channel-property">
                <div class="channel-property-title">
                    Beschreibung (optional)
                </div>
                <input [(ngModel)]="this.ws.inputDescription" (input)="allFieldsFilled()" class="channel-property-input"
                    placeholder="Dein Text hier">
            </div>

        </div>

        <!-- !this.ws.dialogGeneralData -->
        <div *ngIf="!this.ws.dialogGeneralData" class="dialog-members">
            <div class="first-line">
                <div class="headline-white-box ">Leute hinzufügen</div>
                <div (click)="this.ws.openCloseCreateChannel()" class="around-close">
                    <img src="assets/icons/close.png">
                </div>
            </div>

            <div class="options">
                <div class="option" (click)="changeRadioButton()">
                    <div class="radio-wrap">
                        <img *ngIf="!this.ws.radioButtonFirst" src="assets/icons/radio_button_unchecked.png">
                        <img *ngIf="this.ws.radioButtonFirst" src="assets/icons/radio_button_checked.png">
                        <div>Alle Mitglieder von OfficeTeam hinzufügen</div>
                    </div>
                </div>
                <div class="option" (click)="changeRadioButton()">
                    <div class="radio-wrap">
                        <img *ngIf="this.ws.radioButtonFirst" src="assets/icons/radio_button_unchecked.png">
                        <img *ngIf="!this.ws.radioButtonFirst" src="assets/icons/radio_button_checked.png">
                        <div>Bestimmte Leute hinzufügen</div>
                    </div>
                </div>
            </div>
            <div class="selected-members" id="selected-members">
                <div *ngFor="let item of channel.members" class="complete-member">
                    <img class="profile-image" src="assets/imgs/userMale3.png">
                    <div class="complete-name">{{item.firstName}} {{item.lastName}}</div>
                    <div class="remove-member" (click)="removeMember(item.email)">
                        <img class="close-normal" src="assets/icons/close.png" />
                        <img class="close-purple" src="assets/icons/close_purple.png" />
                    </div>
                </div>
                <!-- !this.ws.radioButtonFirst -->
                <input *ngIf="!this.ws.radioButtonFirst " [(ngModel)]="this.ws.inputMember"
                    (input)="allFieldsFilled(); filterMembers()" class="channel-selected-member-input"
                    placeholder="Name eingeben">
            </div>
            <!-- this.ws.showAddMembers -->
            <div *ngIf="this.ws.showAddMembers" class="choose-members-wrap">
                <div class="first-line">
                    <div class="headline-white-box">Mitglieder</div>
                    <div class="around-close" (click)="this.ws.openCloseAddMembers()">
                        <img src="assets/icons/close.png" alt="">
                    </div>
                </div>
                <div class="user-list-wrap">
                    <div class="user-list">
                        <div class="oneUser-line" *ngFor="let user of filteredMembers;" (click)="addMember(user)">
                            <img class="profile-image" src="assets/imgs/userMale3.png">
                            <div class="name-text">
                                {{ user.firstName }} {{ user.lastName}}
                            </div>                            
                        </div>
                    </div>
                    <div class="add-object-wrap">
                        <div class="add-object">
                            <div class="add-img-wrap">
                                <img class="add-standard" src="assets/icons/add_members_button.png">
                            </div>
                            <div class="text-add-object">Mitglieder hinzufügen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="allFieldsFilled()" class="btn-wrap">
            <div (click)="btnClicked()" class="btn-create">Erstellen</div>
        </div>
    </div>

</div>