@import 'src/styles.scss';

$btn-purple: #444DF2;


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #00000048, $alpha: .2);
    z-index: 1;
}

.dialog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    width: 900px;
    max-width: 90vw;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    gap: 20px;
}

.dialog-general-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .around-close {
        position: relative;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        padding: 6px;
        cursor: pointer;
        transition: 100ms;


        img {
            position: absolute;
            height: 24px;
            width: 24px;
        }

        &:hover {
            background-color: $light-violet;
        }
    }

}

.channel-expl {
    font-size: 18px;
    font-weight: 400;
}

.channel-property {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.channel-property-title {
    font-weight: 700;
    font-size: 18px;
}

.channel-property-input {
    border-radius: 40px;
    padding: 18px 20px;
    border: 1px solid $purple2;
    outline: none;
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;

    .btn-create {
        display: flex;
        justify-content: center;
        background-color: $btn-purple;
        border-radius: 25px;
        padding: 12px 25px;
        color: white;
        cursor: pointer;
    }
}

.dialog-members {
    @extend .dialog-general-data;
    position: relative;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
}

.radio-wrap {
    display: flex;
    gap: 20px;
}

.choose-members-wrap {
    position: absolute;
    left: 300px;
    bottom: -100px;
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    border-radius: 30px 0;
    background-color: rgb(250, 250, 250);

    .add-object-wrap {
        display: flex;
        justify-content: flex-start;
        padding: 12px 30px;
        padding: 15px;
        cursor: pointer;

        .add-object {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .text-add-object {
            font-weight: 400;
            font-size: 18px;
        }

        .add-img-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .add-standard{
            height: 32px;
            width: 32px;
        }

        &:hover{
            .add-standard {
                opacity: 1;
                scale: 1.1;
            }
    
            .text-add-object {
                color: $purple;
            }
        }
    }

    .user-list-wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .user-list {
        display: flex;
        flex-direction: column;
        gap: 13px;

        .oneUser-line {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;            

            .name-text {
                font-weight: 400;
                font-size: 18px;
                transition: 100ms;

                &:hover {
                    color: $purple;
                }                
            }
        }
    }

    .profile-image {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
}