@import "src/app/components-sub/create-channel/create-channel.component.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  position: relative;
}

input {
  border-radius: 42px;
  padding: 10px 40px;
  height: 30px;
  width: -webkit-fill-available;
  border: 0px;
  font-size: 16px;

  &::placeholder {
    font-size: 16px;
  }
}

.header-logo {
  cursor: pointer;
  margin-right: 70px;
}

.current-user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  &:hover {
    .name-of-user {
      color: #797ef3;
    }

    .arrow-down-icon {
      display: none;
    }

    .arrow-down-icon-purple {
      display: flex;
    }
  }
}

.input-field-container {
  position: relative;
  width: 100%;
  margin-right: 70px;
}

.input-field-inside {
  position: relative;
}

.search-bar-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  input {
    border-radius: 20px !important;
  }
}

.arrow-down-icon-purple {
  display: none;
}

.name-of-user {
  font-size: 32px;
}

.container-current-user-img {
  position: relative;
  .online {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 3px solid $light-violet;
    background-color: #92c83e;
  }
}

.current-user-img {
  height: 72px;
  width: 72px;
  border-radius: 42px;
}

.arrow-down-icon {
  height: 30px;
  width: 30px;
}

.searchHitSourceName {
  color: $purple;
}

.bg-userSettings {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background-color: #2d2d2d;
  z-index: 90;
}

.container-all-settings {
  z-index: 100;
  position: absolute;
  right: 0px;
  top: 76px;
}

@media (max-width: 685px) {
  .name-of-user {
    display: none;
  }
  .current-user-img {
    height: 62px;
    width: 62px;
  }
  .arrow-down-icon {
    display: none;
  }

  .header-logo {
    img {
      height: 60px;
    }
  }

  .search-bar-icon {
    top: 11px;

    img {
      height: 30px;
    }

    input {
      height: 20px;
    }
  }

  .current-user {
    &:hover {
      .arrow-down-icon {
        display: none !important;
      }

      .arrow-down-icon-purple {
        display: none !important;
      }
    }
  }

  header {
    position: unset;
  }

  .mobileMenu {
    top: unset !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: unset !important;
    width: 100% !important;
  }

  .container-all-settings {
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  app-settings-user-data,
  app-settings-edit-user-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .online {
    width: 14px !important;
    height: 14px !important;
  }
}

.choose-members-header-wrap {
  @extend .choose-members-wrap;
  width: calc(100vw - 80px);
  position: fixed;
  left: 0;
  overflow-y: auto;
}

@media (max-width: 610px) {
  header {
    margin-top: 10px;
  }

  input {
    border-radius: 0px;
  }
  .header-logo {
    img {
      height: 40px;
    }
  }
  .current-user-img {
    height: 50px;
    width: 50px;
  }

  .search-bar-icon {
    top: 10px;

    input {
      height: 10px;
    }
  }

  input {
    border-radius: 0px;
    border-bottom: 1px solid #3338c929;
    &::placeholder {
      font-size: 14px;
    }
  }

  .online {
    width: 12px !important;
    height: 12px !important;
  }
}
