@import "src/styles.scss";

.user-profil {
  z-index: 100;
  padding: 20px;
  background-color: #fff;
  backdrop-filter: blur(10px);
  color: black;
  border-radius: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 420px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  img {
    border-radius: 30px;
    padding: 8px;
    width: 24px;
    height: 24px;
    &:hover {
      background-color: $light-violet;
      cursor: pointer;
    }
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 100px;
  }
}

.name-and-edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    display: none;
    border-radius: 100px;
    background-color: $light-violet;
    padding: 6px;
    cursor: pointer;
  }
}

.name {
  font-size: 22px;
  font-weight: 700;
}

.edit {
  color: $purple;
  font-size: 18px;
  border-radius: 30px;
  padding: 8px;
  &:hover {
    font-weight: 700;
    cursor: pointer;
  }
}

.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
  div {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: #92c83e;
  }
  span {
    color: #92c83e;
    font-size: 20px;
  }
}

.email-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.email-text {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    width: 30px;
    height: 30px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
  }
}

.email-user {
  color: #1381ff;
  margin-left: 42px;
  text-decoration: none;
  border-radius: 100px;
  padding: 8px;
  &:hover {
    font-weight: 700;
    cursor: pointer;
  }
}

.btn-message {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $purple3;
  background-color: $purple3;
  color: #fff;
  padding: 12px 25px;
  border: 1px solid $purple3;
  &:hover {
    background-color: $purple2;
    border-color: $purple2;
  }
}

@media (max-width: 685px) {
  .name-and-edit {
    img {
      display: flex;
    }
  }

  .edit {
    display: none;
  }
}

@media (max-width: 500px) {
  .user-profil {
    width: 85%;
  }
}
