@import "@ctrl/ngx-emoji-mart/picker";

/* You can add global styles to this file, and also import other style files */
$light-violet: #eceefe;
$light-grey: #adb0d9;
$grey: #686868;
$purple: #535af1;
$purple2: #797ef3;
$purple3: #444df2;
$rosaError: #ed1e79;
$marginBody: 32px;

body {
  background-color: $light-violet;
  font-family: "Nunito", sans-serif;
  margin: $marginBody $marginBody;
}

span,
button {
  font-family: "Nunito", sans-serif;
}

.headline-white-box {
  font-size: 24px;
  font-weight: 700;
}

.bg-light-violet {
  background-color: $light-violet;
}

.close-icon-container {
  img {
    cursor: pointer;
  }
}

.d-none {
  display: none;
}

.button-layout {
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: content-box;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;

  .btn-purple {
    display: flex;
    justify-content: center;
    background-color: $purple3;
    border-radius: 25px;
    padding: 12px 25px;
    color: white;
    cursor: pointer;
  }

  .btn-grey {
    @extend .btn-purple;
    background-color: $grey;
  }
}

.btn-form-not-valid {
  cursor: not-allowed;
}

.input-layout {
  width: 100%;
  padding: 18px 18px 18px 55px;
  border: 1px solid transparent;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.input-wrap {
  display: flex;
  width: 100%;
}

.inputfield {
  border: none;
  outline: none;
  flex: 1;
  width: -webkit-fill-available;
  padding: 20px 0px;
  background-color: $light-violet;
}

// Grauer Hintergrund für Dialogfelder
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #00000048, $alpha: 0.2);
  z-index: 1;
}

.dialog {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  width: 900px;
  max-height: 100vh;
  max-width: 90vw;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  gap: 20px;
}

// input style
.members-of-channel {
  box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 4px;
  transition: 325ms ease;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: padding 225ms ease-in-out;
  position: absolute;
  left: 20px;
  bottom: 50px;
  padding: 5px 20px;
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid $purple2;
  z-index: 5;
}

.members-of-channel::-webkit-scrollbar {
  width: 4px;
}

.members-of-channel::-webkit-scrollbar-track {
  background-color: white;
}

.members-of-channel::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 25px;
}

.users-list {
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: $purple2;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 5px;
}

.users-list:hover {
  background-color: $purple;
}

.user-list-img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

#emoji-container {
  z-index: 10;
  position: absolute;
  bottom: 100px;
  left: 0;
}

.thread-user-container {
  display: flex;
  align-items: center;
  padding: 32px 40px;
  gap: 20px;
}

.flex-end{
  justify-content: flex-end;
}

.thread-user-img-container {
  img {
    border-radius: 40px;
    height: 70px;
    width: 70px;
  }
}

.thread-info-container {
  display: flex;
  align-items: center;
  gap: 20px;

  .thread-user-name {
    font-size: 18px;
  }
  .thread-message-time {
    font-size: 14px;
    font-weight: 400;
    color: #686868;
  }
}

.thread-message-container {
  position: relative;
  background-color: $light-violet;
  border-radius: 0px 20px 20px 20px;
  padding: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.purple2{
  color: white;
  background-color: $purple2;
}

.messages-channel-container {
  height: 60vh;
  overflow-y: scroll;
  transition: 525ms ease-in-out;
}

.messages-channel-container::-webkit-scrollbar {
  width: 4px;
}

.messages-channel-container::-webkit-scrollbar-track {
  background-color: white;
}

.messages-channel-container::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 25px;
}

.new-day-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateSeparatorAreaLeft {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 1px;
}

.dateSeparatorAreaRight {
  @extend .dateSeparatorAreaLeft;
  justify-content: flex-start;
}

.dateSeparator {
  width: 90%;
  background-color: $light-grey;
}

.date-text {
  border: 1px solid $light-grey;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 18px;
}
  


