/* You can add global styles to this file, and also import other style files */
$light-violet: #eceefe;
$light-grey: #adb0d9;
$grey: #686868;
$purple: #535af1;
$purple2: #797ef3;
$purple3: #444df2;
$rosaError: #ed1e79;

body {
  background-color: $light-violet;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 32px 32px;
}

span {
  font-family: "Nunito", sans-serif;
}

.headline-white-box {
  font-size: 24px;
}

.bg-light-violet {
  background-color: $light-violet;
}

.close-icon-container {
  img {
    cursor: pointer;
  }
}

.d-none {
  display: none;
}

.button-layout {
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}

.input-layout {
  width: 100%;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}
