/* You can add global styles to this file, and also import other style files */
$light-violet: #eceefe;
$purple: #535AF1;

body {
    background-color: $light-violet;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin: 20px 20px;

}

.headline-white-box {
    font-size: 24px;
}

.bg-light-violet{
    background-color: $light-violet;
}

.close-icon-container{
    img{
        cursor: pointer;
    }
}
