@import 'src/styles.scss';

.reaction-wrap{
    position: absolute;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey;
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px 3px 20px;
    gap: 5px;
    background-color: white;

    img{
        cursor: pointer;
    }
}

.right-0{
    right: 0;
  }

.edit-message{
    position: absolute;
    top: 90%;
    right: 0;
    background-color: white;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
    border-radius: 0 30px 30px 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap; // kein Zeilenumbruch
    cursor: pointer;
}

.hover-area {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 8px;        
    cursor: pointer;

    &:hover {
        .icon {
            display: none;
        }

        .icon_purple {
            display: flex;
            background-color: $light-violet;
            border-radius: 20px;
        }
    }
}

.icon_purple {
    display: none;
}