<div class="reaction-wrap" [ngClass]="{'right-0': messageOfLoggedInUser}">

  <div class="hover-area">
    <img class="icon" src="assets/reactions/check_mark.png">
    <img class="icon_purple" src="assets/reactions/check_mark.png" (click)="ws.addReaction('assets/reactions/check_mark.png', this.messageType, this.clickedContact, this.clickedChannel, this.messageData, this.data, this.threadMessageData)">
  </div>

  <div class="hover-area">
    <img class="icon" src="assets/reactions/hands_up.png">
    <img class="icon_purple" src="assets/reactions/hands_up.png" (click)="ws.addReaction('assets/reactions/hands_up.png', this.messageType, this.clickedContact, this.clickedChannel, this.messageData, this.data, this.threadMessageData)">
  </div>

  <div class="hover-area">
    @if (!moreReactions) {
      <img class="icon" src="assets/reactions/add_reaction.png">
    }
    @if (!moreReactions) {
      <img class="icon_purple" src="assets/reactions/add_reaction_purple.png" (click)="showMoreReactions()">
    }
  </div>

  @if (hasThreadOption()) {
    <div class="hover-area">
      @if (!moreReactions) {
        <img class="icon" src="assets/reactions/answer.png">
      }
      @if (!moreReactions) {
        <img class="icon_purple" src="assets/reactions/answer_purple.png"
          (click)="this.respService.onlyThread(); threadToSend();">
      }
      @if (moreReactions) {
        <img class="icon" src="assets/reactions/nerd.png">
      }
      @if (moreReactions) {
        <img class="icon_purple" src="assets/reactions/nerd.png" (click)="ws.addReaction('assets/reactions/nerd.png', this.messageType, this.clickedContact, this.clickedChannel, this.messageData, this.data, this.threadMessageData)">
      }
    </div>
  }

  <div class="hover-area">
    @if (withEditMessageOption && !moreReactions) {
      <img class="icon" src="assets/reactions/more_vert.png"
        (click)="editMessageButton()">
    }
    @if (withEditMessageOption && !moreReactions) {
      <img class="icon_purple"
        src="assets/reactions/more_vert_purple.png" (click)="editMessageButton()">
      }

      @if (moreReactions) {
        <img class="icon" src="assets/reactions/rocket.png">
      }
      @if (moreReactions) {
        <img class="icon_purple" src="assets/reactions/rocket.png" (click)="ws.addReaction('assets/reactions/rocket.png', this.messageType, this.clickedContact, this.clickedChannel, this.messageData, this.data, this.threadMessageData)">
      }
    </div>

    <!-- <div class="close-area">
    <img *ngIf="moreReactions" class="icon" src="assets/icons/close-purple.png">
    <img *ngIf="moreReactions" class="icon_purple" src="assets/icons/close-purple.png" (click)="showMoreReactions()">
  </div> -->

  @if (showEditMessageButton) {
    <div class="edit-message" (click)="prepareToeditMessage()">Nachricht bearbeiten</div>
  }

</div>