@import 'src/styles.scss';

.reaction-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey;
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px 3px 20px;
    gap: 5px;

    img{
        cursor: pointer;
    }
}

.app-message-reaction{
    position: absolute;
    display: flex;
    top: 20px;
    left: 0;
}