@import "src/styles.scss";

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    left: -8px;
    padding: 8px;
    cursor: pointer;
    &:hover {
      padding: 8px;
      border-radius: 50px;
      background-color: $light-violet;
      color: $purple;
    }
  }
  span {
    color: $purple3;
    font-size: 46px;
    font-weight: 700;
  }
}

.container-profile-image {
  img {
    background-color: $purple2;
    border-radius: 100px;
    padding: 16px;
  }
}

.name {
  font-size: 32px;
  font-weight: 700;
}

.description {
  font-size: 20px;
  text-align: left;
}

.selection-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  flex-wrap: wrap;
  img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
  }
}

.upload-own-image {
  display: flex;
  align-items: center;
  gap: 24px;
  span {
    font-size: 20px;
    font-size: 18px;
  }
  button {
    color: $purple2;
    background-color: transparent;
    border: 1px solid $light-grey;
    padding: 12px 25px;
    &:hover {
      background-color: $purple3;
      border-color: $purple3;
      color: #fff;
    }
  }
}

.continue-container {
  display: flex;
  justify-content: flex-end;
  a {
    background-color: $purple3;
    border-color: $purple3;
    color: #fff;
    padding: 12px 25px;
    &:hover {
      background-color: $purple2;
      border-color: $purple2;
    }
  }
}
