<section>
  <div class="headline-container">
    <img
      *ngIf="!arrowBackIsHovered"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      src="assets/icons/arrow_back.png"
      alt="icon of black arrow"
    />
    <img
      *ngIf="arrowBackIsHovered"
      (mouseover)="arrowBackIsHovered = true"
      (mouseout)="arrowBackIsHovered = false"
      routerLink="/create-account"
      src="assets/icons/arrow_back_purple.png"
      alt="icon of purple arrow"
    />
    <span>Wähle deinen Avatar</span>
  </div>

  <div class="container-profile-image">
    <img
      [src]="
        choosenAvatar === null
          ? 'assets/imgs/person.png'
          : 'assets/imgs/' + choosenAvatar
      "
      alt="profile image"
      [class.image-is-selected]="choosenAvatar !== null"
    />
  </div>

  <span class="name">{{ newUser.name }}</span>

  <span class="description">Aus der Liste wählen</span>

  <div class="selection-images">
    <img
      *ngFor="let imagePath of avatarImages"
      src="assets/imgs/{{ imagePath }}"
      alt="avatar iamge"
      (click)="setAvatarImage(imagePath)"
    />
  </div>

  <div class="upload-own-image">
    <span>eigenes Bild verwenden</span>
    <button class="button-layout">Bilder hochladen</button>
  </div>

  <div class="continue-container">
    <button
      [disabled]="choosenAvatar === null"
      [class.btn-no-image-selected]="choosenAvatar === null"
      class="button-layout"
      (click)="createNewUser()"
    >
      Weiter
    </button>
  </div>
</section>

<div *ngIf="newUserSuccess" class="overlay-container"></div>
<span *ngIf="newUserSuccess" class="overlay-text"
  >Konto erfolgreich erstellt!</span
>
