@import "src/styles.scss";

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container-img {
    display: flex;
    justify-content: flex-start;
    img {
      padding: 8px;
      cursor: pointer;
      &:hover {
        padding: 8px;
        border-radius: 50px;
        background-color: $light-violet;
        color: $purple;
      }
    }
  }

  span {
    color: $purple3;
    font-size: 46px;
    font-weight: 700;
  }
}

.container-profile-image {
  .no-image-selected {
    background-color: $purple2;
    width: 136px;
    height: 136px;
  }
  img {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    padding: 16px;
    object-fit: cover;
  }
}

.name {
  font-size: 32px;
  font-weight: 700;
}

.description {
  font-size: 20px;
  text-align: left;
}

.selection-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  flex-wrap: wrap;
  img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
      border: 2px solid $grey;
    }
  }
}

.image-is-selected {
  background-color: transparent !important;
}

.upload-own-image {
  display: flex;
  align-items: center;
  gap: 24px;
  span {
    font-size: 20px;
    font-size: 18px;
  }
  button {
    position: relative;
    color: $purple2;
    background-color: transparent;
    border: 1px solid $light-grey;
    padding: 12px 25px;
    &:hover {
      background-color: $purple3;
      border-color: $purple3;
      color: #fff;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      border-radius: 100px;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.continue-container {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: $purple3;
    border-color: $purple3;
    color: #fff;
    padding: 12px 25px;
    &:hover {
      background-color: $purple2;
      border-color: $purple2;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
  }
}

.btn-no-image-selected {
  &:hover {
    cursor: not-allowed;
    background-color: $purple3 !important;
    border-color: $purple3 !important;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(47, 47, 47);
  opacity: 0.5;
  z-index: 20;
}

.overlay-text {
  padding: 50px;
  color: white;
  background-color: $purple3;
  border-radius: 30px 30px 0px 30px;
  text-align: center;
  font-size: 36px;
  position: absolute;
  right: 15%;
  z-index: 25;
  animation: rightToLeft 0.7s linear forwards;
  margin-bottom: 25px;
}

@keyframes rightToLeft {
  80% {
    right: 15%;
  }
  100% {
    right: 30%;
  }
}

@media only screen and (max-width: 1700px) {
  .overlay-text {
    padding: 28px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .overlay-text {
    padding: 30px;
    font-size: 28px;
    right: 0;
    animation: rightToLeft-tablet 0.3s ease forwards;
  }
}

@keyframes rightToLeft-tablet {
  100% {
    right: 15%;
  }
}

@media only screen and (max-width: 700px) {
  .overlay-text {
    padding: 25px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .overlay-text {
    padding: 20px;
    font-size: 22px;
    right: 0;
    animation: rightToLeft-tablet 0.3s ease forwards;
  }

  @keyframes rightToLeft-tablet {
    100% {
      right: 100px;
    }
  }
}
