@import 'src/styles.scss';
$add-img-width: 20px;

.side-left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 32px 30px;
    gap: 25px;
    box-sizing: border-box;
    transform: translateX(0); // Standard-Position
    transition: opacity 1s, transform 1s // Füge die Opaz
}

.side-left-container.hidden {
    // transform: translateX(-100%); // Verschiebe den Container nach links außerhalb des Sichtbereichs
    display: none;

}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-headline {
        display: flex;
        align-items: center;
        gap: 15px;

        .logo-code-learning {
            width: 60px;
            height: 60px;
        }
    }

    .logo-start-direct-message {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.overview-panel {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;

    .overview-channels {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .dropdown-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .arrow-headline {
        display: flex;
        gap: 15px;

        img {
            height: 30px;
            width: 30px;
            cursor: pointer;
        }

        &:hover {
            .dots_standard {
                opacity: 0;
            }

            .dots_purple {
                opacity: 1;
            }

            .dropdown_arrow {
                opacity: 0;
            }

            .dropdown_arrow_purple {
                opacity: 1;
                scale: 1.1;
            }

            .account_circle_standard {
                opacity: 0;
            }

            .account_circle_purple {
                opacity: 1;
            }

            .text-add-object {
                color: $purple;
            }

            .headline-secondary {
                color: $purple;
            }

        }
    }

    .arrow_img_wrap {
        display: flex;
        width: $add-img-width;
        height: 100%;
        position: relative;

        .dropdown_arrow,
        .dropdown_arrow_purple {
            position: absolute;
            left: 0px;
            top: 2px;
            height: $add-img-width;
            width: $add-img-width;
        }
    }



    .dropdown_arrow_purple,
    .dots_purple,
    .account_circle_purple {
        opacity: 0;
    }

    .dots-headline {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
            height: 24px;
            width: 24px;
        }
    }

    .headline-secondary {
        font-size: 20px;
    }

    .dots_wrap {
        display: flex;
        width: $add-img-width;
        height: 100%;
        position: relative;

        .dots_standard,
        .dots_purple {
            position: absolute;
            left: 0px;
            top: 2px;
            height: $add-img-width;
            width: $add-img-width;
        }
    }

    .account_circle_wrap {
        display: flex;
        width: $add-img-width;
        height: 100%;
        position: relative;

        .account_circle_standard,
        .account_circle_purple {
            position: absolute;
            left: 0px;
            top: 2px;
            height: $add-img-width;
            width: $add-img-width;
        }
    }

    .overview-direct-messages {
        @extend .overview-channels;
    }
}

.control-scroll-area{
    display: flex; 
    flex-direction: column;
    flex-grow: 1; 
    overflow-y: auto; 
    height: 100px;
}

.list-container-channels {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    max-height: 383px;
}

.list-container-channels::-webkit-scrollbar {
    width: 4px;
}

.list-container-channels::-webkit-scrollbar-track {
    background-color: white;
}

.list-container-channels::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 25px;
}

.item-line {
    display: flex;
    margin-left: 15px;
}

.logo-item-channel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    gap: 10px;
    padding: 4px 20px;
    cursor: pointer;
}

.add-object-wrap {
    display: flex;
    justify-content: center;
}

.add-purple {
    opacity: 0;
}

.add-object {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .add-img-wrap {
        display: flex;
        width: $add-img-width;
        height: 100%;
        position: relative;

        .add-standard,
        .add-purple {
            position: absolute;
            left: 0px;
            top: 2px;
            height: $add-img-width;
            width: $add-img-width;
        }
    }

    &:hover {
        .add-standard {
            opacity: 0;
        }

        .add-purple {
            opacity: 1;
            scale: 1.1;
        }

        .text-add-object {
            color: $purple;
        }

    }

    .text-add-object {
        font-size: 18px;
        font-weight: 400;
    }



}

.logo-item-contact {
    @extend .logo-item-channel;
    cursor: pointer;
    transition: 100ms;

    &:hover {
        background-color: $light-violet;
    }
}

.oneName-channel {
    color: $purple;
}

.list-container-contacts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    height: 100%;
}

.list-container-contacts::-webkit-scrollbar {
    width: 4px;
}

.list-container-contacts::-webkit-scrollbar-track {
    background-color: white;
}

.list-container-contacts::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 25px;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.close-workspace {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    padding: 14px 23px;
    gap: 10px;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
    /* Damit wird der Text in einer einzigen horizontalen Linie angezeigt */
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 100ms;
    z-index: 10;

    .close-workspace-text {
        font-size: 20px;
        font-weight: 500;
    }

    img {
        height: 32px;
        width: 32px;
    }

    &:hover {
        color: $purple;

        .close-workspace-text {
            scale: 1.03;
        }

    }
}

.add-member {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    img {
        height: 24px;
        width: 24px;
        border-radius: 20px;
    }

    &:hover {
        .add-icon {
            display: none;
        }

        .add-icon_purple {
            display: flex;
            background-color: $light-violet;
        }
    }
}

.add-icon_purple {
    display: none;
}

.right-arrow {
    transform: rotate(-90deg);
}